step-functions-definition.json
{
  "Comment": "Smart Code Review Analysis Pipeline",
  "StartAt": "ValidateAndSplit",
  "States": {
    "ValidateAndSplit": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:257394460825:function:SmartCode-CodeSplitter",
      "ResultPath": "$.splitResult",
      "Next": "CheckChunkCount"
    },
    "CheckChunkCount": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.splitResult.chunkCount",
        "NumericGreaterThan": 0,
        "Next": "ProcessChunks"
      }],
      "Default": "SingleAnalysis"
    },
    "SingleAnalysis": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:257394460825:function:SmartCode-ChunkAnalyzer",
      "Parameters": {
        "chunkId.$": "$.analysisId",
        "code.$": "$.splitResult.originalCode",
        "analysisId.$": "$.analysisId",
        "chunkIndex": 0
      },
      "ResultPath": "$.analysisResult",
      "Next": "PrepareSingleResult"
    },
    "PrepareSingleResult": {
      "Type": "Pass",
      "Parameters": {
        "analysisId.$": "$.analysisId",
        "chunkResults.$": "States.Array($.analysisResult)"
      },
      "Next": "MergeResults"
    },
    "ProcessChunks": {
      "Type": "Map",
      "MaxConcurrency": 5,
      "ItemsPath": "$.splitResult.chunks",
      "ResultPath": "$.chunkResults",
      "Parameters": {
        "chunkId.$": "$$.Map.Item.Value.chunkId",
        "code.$": "$$.Map.Item.Value.code",
        "analysisId.$": "$$.Map.Item.Value.analysisId",
        "chunkIndex.$": "$$.Map.Item.Value.chunkIndex",
        "totalChunks.$": "$.splitResult.chunkCount",
        "mapIndex.$": "$$.Map.Item.Index"
      },
      "Iterator": {
        "StartAt": "CalculateStagger",
        "States": {
          "CalculateStagger": {
            "Type": "Pass",
            "Parameters": {
              "staggerSeconds.$": "States.MathMultiply($$.Map.Item.Index, 12)"
            },
            "ResultPath": "$.stagger",
            "Next": "StaggeredWait"
          },
          "StaggeredWait": {
            "Type": "Wait",
            "SecondsPath": "$.stagger.staggerSeconds",
            "Next": "AnalyzeChunk"
          },
          "AnalyzeChunk": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:257394460825:function:SmartCode-ChunkAnalyzer",
            "Retry": [{
              "ErrorEquals": ["ThrottlingException", "TooManyRequestsException", "States.TaskFailed"],
              "IntervalSeconds": 20,
              "MaxAttempts": 5,
              "BackoffRate": 2.0,
              "MaxDelaySeconds": 120
            }],
            "Catch": [{
              "ErrorEquals": ["States.ALL"],
              "Next": "ChunkFailed",
              "ResultPath": "$.error"
            }]
          },
          "ChunkFailed": {
            "Type": "Pass",
            "Parameters": {
              "chunkId.$": "$.chunkId",
              "status": "FAILED",
              "error.$": "$.error"
            },
            "End": true
          }
        }
      },
      "Next": "PrepareChunkResults"
    },
    "PrepareChunkResults": {
      "Type": "Pass",
      "Parameters": {
        "analysisId.$": "$.analysisId",
        "chunkResults.$": "$.chunkResults"
      },
      "Next": "MergeResults"
    },
    "MergeResults": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:257394460825:function:SmartCode-ResultMerger",
      "End": true
    }
  }
}